*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}
body{
	position:relative;
	z-index:10;
}
input{
	outline:none;
}
.hh{
	height:20px;
	width:100%;
	background:rgb(226,226,226);
	margin-top:34px;
	
}
.hei{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:999;
	background:rgba(0,0,0,.1);
}
/*顶部导航栏*/
#header{
	width:100%;
	height:230px;
}
.top{
	width:100%;
	height:68px;
	background:rgb(226,226,226);
}
.top-ch{
	width:1230px;
	height:100%;
	margin:0 auto;
}
.top-ch-left{
	float:left;
	width:22%;
	height:100%;
	background:url(../../img/phone.png)no-repeat left;
	background-size:42px 42px;
}
/*热线电话*/
.top-ch-left p{
	float:right;
	width:50%;
	font-size:16px;
	padding-top:9%;
}
.top-ch-left p:nth-child(1){
	font-size:20px;
}
.top-ch-left p:nth-child(2){
	width:30%;
}
/*登录。注册。手机客户端的样式*/
.top-ul-right{
	float:right;
	padding-top:2%;
	
}

.top-ul-right li{
	float:left;
	padding:4px 14px;
	/*border:1px solid gray;*/
	border-radius:10px;
	margin:0 6px;
}
.top-ul-right li:nth-child(3){
	margin:0;
	padding:4px 0;
}
.top-ul-right li:nth-child(4){
	padding:4px 0;
	position:relative;
}
.top-ul-right li:nth-child(1){
	background:rgb(219,0,17);
}
.top-ul-right li:nth-child(2){
	background:rgb(90,163,223);
}
.top-ul-right li:nth-child(1) a{
	display:block;
	color:white;	
}
.top-ul-right li:nth-child(2) a{
	display:block;
	color:white;
}
/*二维码*/
.a-phone{
	display:block;
	/*position:relative;*/
}
.er-phone{
	position:absolute;
	top:53px;
	left:-33px;
	
	display:none;
	width:150px;
	height:176px;
	background:url(../../img/erweima.png)no-repeat;
}
/*logo导航栏部分的样式*/
.nav{
	width:1630px;
	height:162px;
	/*border-bottom:1px solid black;*/
	margin:0 auto;
}
.logo{
	float:left;
	width:288px;
	height:81px;
	background:url(../../img/logo.png)no-repeat center;
	padding-top:7%;
}
.nav-list{
	float:right;
	padding-top:8%;
}
.nav-list ul li{
	float:left;
	padding:5px 40px;
	border-bottom:5px solid white;
	transition: all 2s;
}
.nav-list ul li:nth-child(1){
	border-bottom:5px solid dodgerblue;
}
.nav-list ul li a{
	font-size:40px;
}
.nav-list ul li:nth-child(1) a{
	color:dodgerblue;
}
/*中间内容*/
.content{
	width:100%;
	height:1200px;
	background:lightgray;
}
/*左边的内容部分*/
.list_1 .xian{
	width:100%;
	height:10px;
	background:lightgray;
	border:0;
}
.list_2 .xian{
	border:0;
	width:100%;
	height:10px;
	background:lightgray;
}
.left{
	background:white;
	float:left;
	width:17%;
	/*height:770px;*/
	margin-left:100px;
}

.list_1{
	width:100%;
	height:44%;
}
.list_1 li{
	width:100%;
	height:58px;
	border-top:1px solid darkgray;
	/*padding:3% 0;*/
}
.list_1 li:nth-child(1) a{
	float:left;
	width:30%;
}
.list_1 li:nth-child(1) span{
	float:left;
}
.list_1 li:nth-child(1) input{
	float:left;
	margin-top:4px;
}
.list_1 li:nth-child(1) .input_2{
	margin-left:20px;
}
.list_1 li:nth-child(6){
	border-bottom: 1px solid darkgray;
}
.list_1 li a{
	display:block;
	width:80%;
	height:100%;
	margin-left:10%;
	line-height:58px;
}
.list_2{
	width:100%;
	/*height:22%;*/
	margin-top:30px;
}
.list_2 li{
	width:100%;
	height:58px;
	border-top:1px solid darkgray;
}
.list_2 li a{
	display:block;
	width:80%;
	height:100%;
	margin-left:10%;
	line-height:58px;
}
.list_2 li:nth-child(3){
	border-bottom: 1px solid darkgray;
}
.list_3{
	width:100%;
	height:25%;
	margin-top:30px;
}
.list_3 li{
	width:100%;
	height:58px;
	border-top:1px solid darkgray;
}
.list_3 li a{
	display:block;
	width:80%;
	height:100%;
	margin-left:10%;
	line-height:58px;
}
.list_3 li:nth-child(3){
	border-bottom: 1px solid darkgray;
}
/*右边的内容部分*/
.right{
	background:white;
	float:right;
	width:67%;
	height:1150px;
}
.right_box{
	width:85%;
	height:95%;
	border:1px solid darkslategray;
	margin:0 auto;
	margin-top:2%;
}
.frient{
	width:100%;
	height:100px;
	border:1px solid gray;
}
.frient_center{
	width:19%;
	height:100%;
	float:right;
	border:1px solid gray;
}
.frient_center span{
	float:left;
	display:block;
	font-size:30px;
	margin-top:25px;
	margin-left:10px;
}
.frient_center img{
	
	margin-top:28px;
	float:left;
}
.frient_right{
	width:40%;
	height:100%;
	float:right;
	border:1px solid gray;
}
.frient_right p:nth-child(1){
	width:10%;
	height:10px;
	background:red;
}
.frient_right p:nth-child(2){
	width:10%;
	height:10px;
	background:green;
}
.frient_right p:nth-child(3){
	width:10%;
	height:10px;
	background:red;
}
/*底部部分*/

#footer{
	position:relative;
	width:100%;
	height:300px;
	background:rgb(102,102,102);
}
.footr{
	width:800px;
	height:110px;
	margin:0 auto;
}
.footr img{
	float:left;
}
.footr-ul{
	float:left;
}
.footr-ul li{
	float:left;
	padding:0px 10px;
	margin-top:56px;
}
.footr-ul li a{
	color:darkgray;
}
.hotphone{
	float:right;
	width:210px;
	height:58px;
	padding-left:62px;
	line-height: 65px;
	
	background:url(../../img/footrdianhua.png)no-repeat left;
	color:darkgray;
	margin-top:36px;
}
.foot{
	width:100%;
	height:160px;
	background:rgb(102,102,102);
}
.foot p{
	margin:0 auto;
	text-align:center;
	color:white;
	font-size:16px;
	margin-bottom:6px;
}
.foot p:nth-child(1){
	margin-top:45px;
}
.yingcan{
	position:absolute;
	top:-394px;
	left:800px;
	width:380px;
	height:380px;
	/*border:2px solid rgba(0,0,0,.5);*/
	background: white;
	display:none;
	z-index: 100;
}
.yingcan #textArea{
	width:380px;
	height:328px;

}
.yingcan div{
	position:relative;
	width:100%;
	height:52px;
	/*border-bottom:1px solid gray;*/
}
.yingcan div img{
	position:absolute;
	top:4px;
	right:10px;
}
.yingcan div p{
	display:block;
	width:40%;
	height:32px;
	padding-top:20px;
	margin-left:34%;
	text-align:center;
	/*border:1px solid gray;*/
	background:url(../../img/shuoming.png)no-repeat;
	background-position:0 10px;
}

