*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}
body{
	position:relative;
	z-index:10;
}
input{
	outline:none;
	text-align:center;
}
.hh{
	height:20px;
	width:100%;
	background:rgb(226,226,226);
	margin-top:34px;
	
}
.hei{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:100;
	background:rgba(0,0,0,.1);
}
.hei_1{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:100;
	background:rgba(0,0,0,.1);
}
/*顶部导航栏*/
#header{
	width:100%;
	height:230px;
}
.top{
	width:100%;
	height:68px;
	background:rgb(226,226,226);
}
.top-ch{
	width:1230px;
	height:100%;
	margin:0 auto;
}
.top-ch-left{
	float:left;
	width:22%;
	height:100%;
	background:url(../../img/phone.png)no-repeat left;
	background-size:42px 42px;
}
/*热线电话*/
.top-ch-left p{
	float:right;
	width:50%;
	font-size:16px;
	padding-top:9%;
}
.top-ch-left p:nth-child(1){
	font-size:20px;
}
.top-ch-left p:nth-child(2){
	width:30%;
}
/*登录。注册。手机客户端的样式*/
.top-ul-right{
	float:right;
	padding-top:2%;
	
}

.top-ul-right li{
	float:left;
	padding:4px 14px;
	/*border:1px solid gray;*/
	border-radius:10px;
	margin:0 6px;
}
.top-ul-right li:nth-child(3){
	margin:0;
	padding:4px 0;
}
.top-ul-right li:nth-child(4){
	padding:4px 0;
	position:relative;
}
.top-ul-right li:nth-child(1){
	background:rgb(219,0,17);
}
.top-ul-right li:nth-child(2){
	background:rgb(90,163,223);
}
.top-ul-right li:nth-child(1) a{
	display:block;
	color:white;	
}
.top-ul-right li:nth-child(2) a{
	display:block;
	color:white;
}
/*二维码*/
.a-phone{
	display:block;
	/*position:relative;*/
}
.er-phone{
	position:absolute;
	top:53px;
	left:-33px;
	
	display:none;
	width:150px;
	height:176px;
	background:url(../../img/erweima.png)no-repeat;
}
/*logo导航栏部分的样式*/
.nav{
	width:1630px;
	height:162px;
	/*border-bottom:1px solid black;*/
	margin:0 auto;
}
.logo{
	float:left;
	width:288px;
	height:81px;
	background:url(../../img/logo.png)no-repeat center;
	padding-top:7%;
}
.nav-list{
	float:right;
	padding-top:8%;
}
.nav-list ul li{
	float:left;
	padding:5px 40px;
	border-bottom:5px solid white;
	transition: all 2s;
}
.nav-list ul li:nth-child(1){
	border-bottom:5px solid dodgerblue;
}
.nav-list ul li a{
	font-size:40px;
}
.nav-list ul li:nth-child(1) a{
	color:dodgerblue;
}
/*中间内容*/
.content{
	position:relative;
	width:100%;
	height:1862px;
	background:lightgray;
}

.box{
	position:absolute;
	top:200px;
	left:38%;
	/*border:1px solid darkred;*/
	width:497px;
	height:565px;
	background: white;
	overflow:hidden;
	/*z-index: 1000;*/
}
.mbox{
	position:absolute;
	top:0px;
	left:0px;
	border:dodgerblue;
	width:990px;
	height:1120px;
	transition:all 2s;
}
/*列表栏的样式*/
.lists div:nth-child(1){
	margin-left:150px;
}
.lists div{
	margin-left:40px ;
}
.lists{
	width:100%;
	height:50px;
	border-bottom:1px solid gray;
}
.lists div{
	float:left;
	margin-top:15px;
}
.lists .ul-list{
	float:right;
}
.lists .ul-list li{
	float:left;
	padding:0 32px;
	height:100%;
	line-height:50px;
}
.lists .ul-list li:nth-child(4){
	margin-right:146px;
}
.lists .ul-list li:nth-child(1) a{
	color:rgb(93,163,255);
}
.show{
	display:none;
	width:220px;
	height:240px;
	position:absolute;
	top:240px;
	left:900px;
	/*border:1px solid gray;*/
	background-size:110px 110px;
	z-index:10;
}
.show img{
	display:block;
	margin:0 auto;
	
}
.biaoji{
	text-align:center;
	font-size:25px;
	margin-top:6px;
	margin-bottom:15px;
}
.bangdin{
	text-align:center;
	font-size:20px;
}
.bangdin a{
	color:red;
	text-decoration: underline;
}
/*中间的窗口*/
/*微信二维码页面*/
.wx-erweima{
	position:absolute;
	top:230px;
	left:1088px;
	width:400px;
	height:300px;
	background:white;
	border:1px solid darkgray;
	z-index:1000;
	display:none;
}
.wx-erweima .ewm-pic{
	display:block;
	margin:0 auto;
}
.wx-erweima p:nth-child(2){
	font-size:18px;
	margin-top:20px;
	text-align:center;
	margin-bottom:30px;
}
.wx-erweima .yanse{
	margin-top:20px;
	height:20px;
	background:greenyellow;
}
/*支付宝二维码页面*/
.zfb-erweima{
	position:absolute;
	top:230px;
	left:1088px;
	width:400px;
	height:300px;
	background:white;
	border:1px solid darkgray;
	z-index:1000;
	display:none;
}

.zfb-erweima .ewm-pic{
	display:block;
	margin:0 auto;
}
.zfb-erweima p:nth-child(2){
	font-size:18px;
	margin-top:20px;
	text-align:center;
	margin-bottom:30px;
}
.zfb-erweima .yanse{
	margin-top:20px;
	height:20px;
	background:dodgerblue;
}
/*余额支付*/
.Wndow{
	position:absolute;
	top:230px;
	left:1042px;
	width:495px;
	height:490px;
	background:white;
	border:1px solid darkgray;
	z-index:1000;
	display:none;
}	
.Wndow-dx{
	position:relative;
	height:60px;
	width:50%;
	margin:0 auto;
	margin-top:2%;
	margin-bottom:3%;
	/*background:url(../imgs/zhifu.png)no-repeat ;*/
	/*border:1px solid gray;*/
	font-size:30px;
	text-align:center;
	line-height:60px;
}
.Wndow-dx img{
	position:absolute;
	top:10px;
	left:24px;
}
.wndow-box{
	position:relative;
	width:90%;
	height:390px;
	border-top:1px solid darkgray;
	margin:0 auto;
}
.wndow-box .zhifu{
	width:62%;
	height:92px;
	border:1px solid darkgray;
	margin-left:18%;
	margin-top:16%;
}
.wndow-box .zhifu input{
	margin-left:21%;
	margin-top:14%;
	outline:none;
	border:0;
}
.cuowu{
	overflow:hidden;
	margin-top:20px;
	margin-left:30%;
}
.cuowu img{
	float:left;
}
.cuowu span{
	float:left;
	color:rgb(219,0,17);
}
.quedin{
	position:absolute;
	top:74%;
	left:2%;
	border:1px solid gray;
	width: 80px;
	height:27px;
	text-align:center;
	padding:3px 50px;
	background:rgb(86,158,255);
	border-radius:4px;
	line-height:27px;
}
.quedin a{
	display:block;
	width:100%;
	height:100%;
	color:white;
}
.quxiao{
	position:absolute;
	top:74%;
	left:57%;
	border:1px solid gray;
	width: 80px;
	height:27px;
	text-align:center;
	padding:3px 50px;
	background:rgb(219,0,17);
	border-radius:4px;
	line-height:27px;
}

.quxiao a{
color:white;
}


.x{
	position:absolute;
	top:5px;
	right:10px;
}

/*银行卡支付*/
.add-yhk{
	background:white;
	position:absolute;
	top:230px;
	left:1044px;
	width:495px;
	height:560px;
	border:1px solid darkgray;
	z-index:99;
	display:none;
}

.add-yhk-dx{
	position:relative;
	height:60px;
	width:50%;
	margin-left:29%;	
	margin-top:2%;
	margin-bottom:3%;
	font-size:30px;
	text-align:center;
	line-height:60px;
	
}
.add-yhk-dx img{
	position:absolute;
	top:15px;
	left:0px;
}
.add-yhk-box{
	width:90%;
	height:198px;
	margin:0 auto;
	border-top:1px solid darkgray;
}
.add-yhk-box div{
	border:1px solid darkgray;
	margin:15px 0;
	height:55px;
}
.add-yhk-box div:nth-child(1){
	overflow:hidden;	
	height:20px;
	border:1px solid white;
}
.add-yhk-box div img{
	margin-top:10px;
}
.add-yhk-box div:nth-child(1) a{
	float:right;
	text-decoration: underline;
	color:dodgerblue;	
}
.add-yhk-box div input{
	float:right;
	overflow:hidden;
	margin-top:20px;
	margin-right:20px;
	border:0;
}
.add-yhk-box div:nth-child(6){
	overflow:hidden;
	width:150px;
	height:36px;
	background:rgb(209,28,22);
	margin:0 auto;
	margin-top:40px;
}
.add-yhk-box div:nth-child(6) a{
		font-size:18px;
		width:100%;
		height:100%;
		text-align:center;
		line-height:36px;
		display:block;
		color:white;
}


/*支付的方式*/
.pay{
	position:relative;
	width:67%;
	height:460px;
	border:1px solid gray;
	float:right;
	background:white;
}
.titlee{
	width:100%;
	height:100px;
	border:1px solid gray;
}
.pay-titlee1{
	width:100%;
	height:50%;
	font-size:18px;
}
.pay-titlee1 span:nth-child(1){
	margin-left:36%;
}
.pay-titlee1 input{
	margin-top:20px;
	font-size:25px;
	color:orange;
	width:200px;
	border:0;
}
.pay-titlee2{
	width:100%;
	height:50%;
	font-size: 18px;
}
.pay-titlee2 span:nth-child(1){
	margin-left:39%;
}
.pay-titlee2 input{
	font-size:25px;
	color:orange;
	margin-top:10px;
	width:200px;
	border:0px;
}
.payy{
	width:50%;
	margin:0 auto;
	margin-left:32%;
	/*border:1px solid gray;*/
}
.payy_1{
	float:left;
	width:40%;
	
}
.payy_2{
	float:left;
	width:40%;
	margin-left:100px;
}
.payy .payy_1 input{
	margin-top:50px;
}
.payy .payy_2 input{
	margin-top:50px;
}
.js{
	position:absolute;
	bottom:50px;
	left:370px;
	width:200px;
	height:40px;
	background:rgb(86,158,255);
	text-align:center;
}
.js a{
	display:block;
	width:100%;
	height:100%;
	height:center;
	color:white;
	font-size:20px;
	line-height:40px;
}
.qux{
	position:absolute;
	bottom:50px;
	right:320px;
	width:200px;
	height:40px;
	background:rgb(209,28,22);
	text-align:center;
}
.qux a{
	width:100%;
	height:100%;
	color:white;
	font-size:20px;
	line-height: 40px;
}
.pay-p{
	color:darkgray;
	font-size:14px;
}

/*左边的内容部分*/
.list_1 .xian{
	width:100%;
	height:10px;
	background:lightgray;
	border:0;
}
.list_2 .xian{
	border:0;
	width:100%;
	height:10px;
	background:lightgray;
}
.left{
	background:white;
	float:left;
	width:17%;
	margin-left:100px;
}

.list_1{
	width:100%;
	height:44%;
}
.list_1 li{
	width:100%;
	height:58px;
	border-top:1px solid darkgray;
	/*padding:3% 0;*/
}
.list_1 li:nth-child(1) a{
	float:left;
	width:30%;
}
.list_1 li:nth-child(1) span{
	float:left;
	margin-top:22px;
	margin-left:4px;
}
.list_1 li:nth-child(1) input{
	float:left;
	margin-top:26px;
}
.list_1 li:nth-child(1) .input_2{
	margin-left:20px;
}
.list_1 li:nth-child(6){
	border-bottom: 1px solid darkgray;
}
.list_1 li a{
	display:block;
	width:80%;
	height:100%;
	margin-left:10%;
	line-height:58px;
}
.list_2{
	width:100%;
	/*height:22%;*/
	margin-top:30px;
}
.list_2 li{
	width:100%;
	height:58px;
	border-top:1px solid darkgray;
}
.list_2 li a{
	display:block;
	width:80%;
	height:100%;
	margin-left:10%;
	line-height:58px;
}
.list_2 li:nth-child(3){
	border-bottom: 1px solid darkgray;
}
.list_3{
	width:100%;
	height:25%;
	margin-top:30px;
}
.list_3 li{
	width:100%;
	height:58px;
	border-top:1px solid darkgray;
}
.list_3 li a{
	display:block;
	width:80%;
	height:100%;
	margin-left:10%;
	line-height:58px;
}
.list_3 li:nth-child(3){
	border-bottom: 1px solid darkgray;
}
/*右边的内容部分*/
.right{
	background:white;
	float:right;
	width:67%;
	height:1352px;
}
.right_box{
	position:relative;
	width:85%;
	height:97.5%;
	border:1px solid darkslategray;
	margin:0 auto;
	margin-top:2%;
}
.chose{
	width:100%;
	height:404px;

	border-bottom:1px solid gray;
}
/*.chose-box{
	width:22%;
	height:100%;
	margin:0 auto;
}
.chose-box a{
	color:white;
	text-decoration:underline;
	font-size:20px;
	float:left;
	margin-top:80px;
	margin-left:18px;
}*/
/*.chose-box img{
	float:left;
	margin-top:50px;
}*/
.boxx{
	width:100%;
	height:200px;
	border:1px solid lightgray;
	overflow:hidden;
}
.frient-lists{
	padding-top:30px;
	padding-bottom:30px;
	width:80%;
	height:140px;
	border:0;
	overflow:hidden;
	margin:0 auto;
	
}

.frient-lists img{
	float:left;
}
.frient-lists .gsname{
	float:left;
	width:482px;
	height:50%;
	margin-left:18px;
	margin-right:23px;
	/*padding-top:50px;*/
	padding-bottom:16px;
	font-size:30px;
}
.show-1{
	float:left;
	width:34%;
}
.change{
	color: orange;
}
.gsname span{
	font-size:16px;
}
.frient-lists .right-pic{
	float:left;
	width:200px;
	height:100%;
	/*border:1px solid gray;*/
}
/*右边的好友借款基本状况*/
.timer{
	float:left;
	width:33%;
	height:100%;
	font-size:13px;
	/*border:1px solid gray;*/
}
.timer span{
	width:30px;
	height:30px;
	text-align:center;
	line-height: 30px;
	display:block;
	border:2px solid red;
	padding:2px 2px;
	font-size:18px;
	color:red;
	border-radius:50%;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:5px;
	
}
.heji{
	float:left;
	width:33%;
	height:100%;
	/*border:1px solid gray;*/
}
.heji p:nth-child(1){
	
	width:70%;
	height:80px;
	background:green;
	color:white;
	text-align:center;
	line-height: 100px;
	margin:0 auto;
	margin-top:10px;
}
.heji p:nth-child(2){
	width:85%;
	height:0px;
	border:1px solid gray;
	margin:0 auto;
}
.heji p:nth-child(3){
	width:70%;
	height:20px;
	background:red;
	color:white;
	text-align:center;
	line-height: 20px;
	margin:0 auto;
}
.heji p:nth-child(4){
	text-align:center;
}
.tianshu{
	float:left;
	width:33%;
	height:100%;
	/*border:1px solid gray;*/
}
.tianshu p:nth-child(1){
	
	width:70%;
	height:30px;
	background:green;
	color:white;
	text-align:center;
	line-height: 30px;
	margin:0 auto;
	margin-top:60px;
}
.tianshu p:nth-child(2){
	margin:0 auto;
	width:85%;
	height:0px;
	border:1px solid gray;
}
.tianshu p:nth-child(3){
	width:70%;
	height:20px;
	background:white;
	color:white;
	text-align:center;
	line-height: 20px;
	margin:0 auto;
}
.tianshu p:nth-child(4){
	text-align:center;
}
/* right_box的右边*/
.right_box_left{
	float:left;
	width:40%;
	height:50%;
	/*border:1px solid gray;*/
	margin-left:60px;
	margin-top:50px;
}
/*.right_box_left input{
	padding-left:50px;
}*/
.right_box_left_1{
	width:95%;
	height:80px;
	padding-left:5%;
	font-size:20px;
	border-radius:8px;
	/*border:1px solid lightgray;*/
	margin-bottom:20px;
}

.right_box_left_1 span:nth-child(3){
	font-size:16px;
	color:gray;
}
.right_box_left_1 input{
	margin-top:42px;
	margin-left:200px;
	margin-right:10px;
	width:40px;
	font-size:20px;
	outline:none;
	border:0px;
	/*margin-left:10px;*/
}
.right_box_left_2{
	width:95%;
	height:80px;
	padding-left:5%;
	font-size:20px;
	border-radius:8px;
	/*border:1px solid lightgray;*/
	margin-bottom:20px;
}
.right_box_left_2 input{
	width:40px;
	margin-top:42px;
	outline:none;
	border:0px;
	margin-left:30px;
	font-size:17px;
}
.right_box_left_3{
	width:95%;
	height:80px;
	padding-left:5%;
	font-size:20px;
	border-radius:8px;
	margin-bottom:20px;
	/*border:1px solid lightgray;*/
}
.right_box_left_3 input{
	outline:none;
	width:40px;
	margin-top:42px;
	border:0px;
	margin-left:30px;
	font-size:17px;
}
/****************************/
.xl{
	font-size:20px;
	margin-bottom:20px;
}
.huank input{
	margin-left:80px;
	font-size:20px;
	width:40px;
	border:1px solid white;
	text-align:center;	
}
.lixi input{
	margin-left:111px;
	text-align:center;
}
.ll input{
	margin-left:59px;
	text-align:center;
}

.dbr input{
	margin-left:108px;
	text-align:center;
}
.hk{
	margin-left:5%;
}
.yc{
	width:95%;
	height:17%;
	padding-left:5%;
	font-size:20px;
	border-radius:8px;
	/*border:1px solid lightgray;*/
	margin-bottom:20px;
	display:block;
}
.yc input{
	width:20px;
	padding-left:10px;
	border:1px solid white;
	/*border-bottom:1px solid gray;*/
	font-size:18px;
	margin-left:10px;
	
}
.yc .yc_input{
	width:60px;
}
.dbr-change{
	font-size:20px;
	width:60px;
	border:1px solid white;
}
.lixi-change{
	font-size:20px;
	width:60px;
	border:1px solid white;
}
/*right_box的左边*/
.right_box_right{
	position:relative;
	float:right;
	width:40%;
	height:50%;
	margin-top:50px;
	/*border:1px solid gray;*/
	margin-right:60px;
}
.gs-div-bottom{
	position:absolute;
	bottom:90px;
	left:0px;
	width:431px;
	height:376px;
}
.gs-div-bottom img{
	width:25%;
	margin-left:20px;
}
.gs-front-change{
	position:relative;
}
.gs-front-change span{
	position:relative;
}
.gs-front-change span .chacha{
	position:absolute;
	top:-142px;
	right:-5px;
}
 .gs-front-change span .chachaa{
	position:absolute;
	top:10px;
	left:-310px;
	width:33.33px;
	height:33.33px;
	z-index:10;
}
.gs-front{
	width:100%;
	height:100%;
	font-size:18px;
	border:1px dashed darkgray;
	float:left;
}
.gs-front p{
	width:35%;
	margin:0 auto;
}
.gs-front p:nth-child(3){
	font-size:16px;
	background:rgb(86,158,255);
	padding:13px 0px;
}
.gs-front p:nth-child(1){
	margin-top:140px;
	margin-bottom:5px;
	display:block;
	text-align:center;
	font-size:25px;
	width:68%;
}
.gs-front p:nth-child(2){
	text-align:center;
	margin-top:10px;
	margin-bottom:15px;
}
.gs-front .gs-sp{
	font-size:14px;
	color:rgba(86,158,255,0.5);
}
.gs-front p:nth-child(3) a{
	color:white;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
}
.gs-front p:nth-child(4){
	width:100%;
	margin-top:10px;
	font-size:13px;
	color:darkgray;
	text-align:center;
}
.gs-front-change{
	width:100%;
	height:100%;
	font-size:18px;
	border:1px dashed darkgray;
	float:left;
}
.gs-front-change p{
	width:35%;
	margin:0 auto;
}
.gs-front-change .pp_1{
	font-size:16px;
	background:rgb(86,158,255);
	padding:13px 0px;
}
/*.gs-front p:nth-child(1){
	margin-top:140px;
	margin-bottom:5px;
	display:block;
	text-align:center;
	font-size:25px;
	width:68%;
}*/
.gs-front-change .pp_1{
	text-align:center;
	margin-top:-23px;
	margin-bottom:15px;
}
/*.gs-front-change .gs-sp{
	font-size:14px;
	color:rgba(86,158,255,0.5);
}*/
.gs-front-change .pp_1 a{
	color:white;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
}
.gs-front-change .pp_2{
	width:100%;
	margin-top:10px;
	font-size:13px;
	color:darkgray;
	text-align:center;
}
.right_box_right_div{
	margin-top:56px;
}
.right_box_right_div span:nth-child(1){
	font-size:25px;
}
.right_box_right_div span:nth-child(2){
	font-size:14px;
	color:lightgray;
}
.qd{
	position:absolute;
	bottom:100px;
	left:22%;
	width:270px;
	height:52px;
	background:rgb(102,203,102);
	text-align:center;
	margin:0 auto;

}
.qd a{
	display:block;
	width:100%;
	height:100%;
	color:white;
	font-size:22px;
	line-height:52px;
}
.qx{
	position:absolute;
	bottom:100px;
	left:56%;
	width:270px;
	height:52px;
	background:rgb(209,28,22);
	text-align:center;
	margin:0 auto;

}
.qx a{
	display:block;
	width:100%;
	height:100%;
	color:white;
	font-size:22px;
	line-height:52px;
}
.tanchu-1{
	position:absolute;
	bottom:485px;
	left:1062px;
	width:400px;
	height:200px;
	border:1px solid gray;
	background:white;
	z-index:100;
	display:none;
}
.tanchu-1 p:nth-child(1){
	font-size:20px;
	margin-top:50px;
	text-align:center;
}
.tanchu-1 p:nth-child(2){
	font-size:20px;
	margin-top:5px;
	text-align:center;
}
.tanchu-1 a:nth-child(3){
	position:absolute;
	bottom:30px;
	left:168px;
	font-size:20px;
	color:rgb(86,158,255);
	text-decoration:underline;
}
.right_box_foot{
	width:100%;
	height:190px;
	border-top:1px dashed gray;
	overflow:hidden;
}
.foot_div span{
	font-size:20px;
}
.foot_div span:nth-child(1){
	margin-left:40%;
}
.foot_div input{
	font-size:25px;
	color:orange;
	width:80px;
	margin-top:20px;
	border:0px;
	text-align:right;
}

/*底部部分*/

#footer{
	position:relative;
	width:100%;
	height:300px;
	background:rgb(102,102,102);
}
.footr{
	width:800px;
	height:110px;
	margin:0 auto;
}
.footr img{
	float:left;
}
.footr-ul{
	float:left;
}
.footr-ul li{
	float:left;
	padding:0px 10px;
	margin-top:56px;
}
.footr-ul li a{
	color:darkgray;
}
.hotphone{
	float:right;
	width:210px;
	height:58px;
	padding-left:62px;
	line-height: 65px;
	
	background:url(../../img/footrdianhua.png)no-repeat left;
	color:darkgray;
	margin-top:36px;
}
.foot{
	width:100%;
	height:160px;
	background:rgb(102,102,102);
}
.foot p{
	margin:0 auto;
	text-align:center;
	color:white;
	font-size:16px;
	margin-bottom:6px;
}
.foot p:nth-child(1){
	margin-top:45px;
}
.yingcan{
	position:absolute;
	top:-394px;
	left:800px;
	width:380px;
	height:380px;
	/*border:2px solid rgba(0,0,0,.5);*/
	background: white;
	display:none;
	z-index: 999;
}
.yingcan #textArea{
	width:380px;
	height:328px;

}
.yingcan div{
	position:relative;
	width:100%;
	height:52px;
	/*border-bottom:1px solid gray;*/
}
.yingcan div img{
	position:absolute;
	top:4px;
	right:10px;
}
.yingcan div p{
	display:block;
	width:40%;
	height:32px;
	padding-top:20px;
	margin-left:34%;
	text-align:center;
	/*border:1px solid gray;*/
	background:url(../../img/shuoming.png)no-repeat;
	background-position:0 10px;
}

