*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}
input::-webkit-input-placeholder{text-align:center;}
#header{
	width:100%;
	height:168px;
	/*border:1px solid gray;*/
}
#header img{
	margin-top:60px;
	margin-left:60px;
}
/*中间内容的部分*/
.content{
	position:relative;
	width:100%;
	height:600px;
	background:url(../imgs/bg.png)no-repeat center;
}
.box{
	position:absolute;
	top:-30px;
	left:22%;
	width:1050px;
	height:670px;
	overflow:hidden;
	background:white;
	border:1px solid darkgray;
}
.box-cont{
	margin:0 auto;
	width:950px;
	height:600px;
	margin-top:70px;
	border-top:1px solid darkgray;
}
.box-cont img{
	position:absolute;
	top:50px;
	left:43%;
}
.box-cont p{

	text-align:center;
	margin-top:28%;
}
.x{
	position:absolute;
	top:5px;
	right:10px;
}
/*尾部*/
.footer{
	width:100%;
	height:168px;
}
.foot{
	width:100%;
	height:160px;
	/*background:rgb(102,102,102);*/
}
.foot p{
	margin:0 auto;
	text-align:center;
	color:black;
	font-size:16px;
	margin-bottom:6px;
}
.foot p:nth-child(1){
	margin-top:45px;
}