*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}
body{
	position:relative;
	z-index:10;
}
input{
	outline:none;
}
.hh{
	height:20px;
	width:100%;
	background:rgb(226,226,226);
	margin-top:34px;
	
}
.hei{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:999;
	background:rgba(0,0,0,.1);
}
/*顶部导航栏*/
#header{
	width:100%;
	height:230px;
}
.top{
	width:100%;
	height:68px;
	background:rgb(226,226,226);
}
.top-ch{
	width:1230px;
	height:100%;
	margin:0 auto;
}
.top-ch-left{
	float:left;
	width:22%;
	height:100%;
	background:url(../../img/phone.png)no-repeat left;
	background-size:42px 42px;
}
/*热线电话*/
.top-ch-left p{
	float:right;
	width:50%;
	font-size:16px;
	padding-top:9%;
}
.top-ch-left p:nth-child(1){
	font-size:20px;
}
.top-ch-left p:nth-child(2){
	width:30%;
}
/*登录。注册。手机客户端的样式*/
.top-ul-right{
	float:right;
	padding-top:2%;
	
}

.top-ul-right li{
	float:left;
	padding:4px 14px;
	/*border:1px solid gray;*/
	border-radius:10px;
	margin:0 6px;
}
.top-ul-right li:nth-child(3){
	margin:0;
	padding:4px 0;
}
.top-ul-right li:nth-child(4){
	padding:4px 0;
	position:relative;
}
.top-ul-right li:nth-child(1){
	background:rgb(219,0,17);
}
.top-ul-right li:nth-child(2){
	background:rgb(90,163,223);
}
.top-ul-right li:nth-child(1) a{
	display:block;
	color:white;	
}
.top-ul-right li:nth-child(2) a{
	display:block;
	color:white;
}
/*二维码*/
.a-phone{
	display:block;
	/*position:relative;*/
}
.er-phone{
	position:absolute;
	top:53px;
	left:-33px;
	
	display:none;
	width:150px;
	height:176px;
	background:url(../../img/erweima.png)no-repeat;
}
/*logo导航栏部分的样式*/
.nav{
	width:1630px;
	height:162px;
	/*border-bottom:1px solid black;*/
	margin:0 auto;
}
.logo{
	float:left;
	width:288px;
	height:81px;
	background:url(../../img/logo.png)no-repeat center;
	padding-top:7%;
}
.nav-list{
	float:right;
	padding-top:8%;
}
.nav-list ul li{
	float:left;
	padding:5px 40px;
	border-bottom:5px solid white;
	transition: all 2s;
}
.nav-list ul li:nth-child(1){
	border-bottom:5px solid dodgerblue;
}
.nav-list ul li a{
	font-size:40px;
}
.nav-list ul li:nth-child(1) a{
	color:dodgerblue;
}
/*中间内容*/
.content{
	width:100%;

/*	background:lightgray;*/
}
.x{
	position:absolute;
	top:5px;
	right:10px;
}
.content-box{
	width:90%;
	margin:0 auto;
	/*margin-bottom:30px;*/
	border:1px solid lightgray;
}
.first-div{
	position:relative;
	margin:0 auto;
	font-size:30px;
	text-align:center;
	width:100%;
	height:80px;
	margin-bottom:20px;
	border-bottom:1px solid lightgray;
}
.jiantou{
	position:absolute;
	top:25px;
	left:40px;
	width:40px;
	height:40px;
}
.first-div p{
	width:150px;
	margin:0 auto;
	padding-top:20px;
	background:white;
	padding-left:10px;
	padding-right:10px;
}

.lists div:nth-child(1){
	margin-left:150px;
}
.lists div{
	margin-left:40px ;
}
.lists{
	back
	ground:white;
	width:100%;
	height:50px;
	border-bottom:1px solid gray;
}
.lists div{
	float:left;
	margin-top:15px;
}
.lists .ul-list{
	float:right;
}
.lists .ul-list li{
	float:left;
	padding:0 32px;
	height:100%;
	line-height:50px;
}
.lists .ul-list li:nth-child(4){
	margin-right:146px;
}
.lists .ul-list li:nth-child(2) a{
	color:rgb(93,163,255);
}
/*右边的内容部分*/
.right{
	background:white;
	margin:0 auto;
	width:67%;
	height:1150px;
}
.right_box{
	position:relative;
	width:95%;
	height:90%;
	border:1px solid lightgray;
	margin:0 auto;
	margin-top:2%;
}
.frient{
	width:100%;
	height:100px;
	/*border-bottom:2px solid gray;*/
}
.frient_center{
	width:100%;
	height:100%;
	margin:0 auto;
}
.frient_center span{
	float:left;
	display:block;
	font-size:30px;
	margin-top:25px;
	margin-left:10px;
}
.frient_center img{
	
	margin-top:18px;
	float:left;
}
.frient_center p:nth-child(1) a{
	display:block;
	width:49.9%;
	height:54px;
	font-size:30px;
	color: rgb(86,158,255);
	margin-top:15px;
	padding-top:26px;
	float:left;
	text-align:center;
	border-right:1px solid lightgray;
	border-bottom:8px solid rgb(86,158,255);
}
.frient_center p:nth-child(2) a{
	display:block;
	width:50%;
	height:54px;
	font-size:30px;
	color:lightgray;
	/*color: rgb(86,158,255);*/
	margin-top:15px;
	padding-top:26px;
	float:left;
	text-align:center;
	border-bottom:8px solid lightgray;
}

.frient_right{
	
	width:20%;
	height:80%;
	float:right;
	padding-top:20px;
	padding-right:120px;
}
.frient_right div{
	overflow:hidden;
}

.x{
	position:absolute;
	top:5px;
	right:10px;
}
.frient_right .div_1 p{
	width:44px;
	height:10px;
	background:red;
	float:left;
	margin-top:7px;
	margin-right:8px;
}

.frient_right .div_2 p{
	width:44px;
	height:10px;
	background:green;
	float:left;
	margin-top:7px;
	margin-right:8px;
}
.frient_right .div_3 p{
	width:44px;
	height:10px;
	background:red;
	float:left;
	margin-top:7px;
	margin-right:8px;
}
/*好友列表*/
.boxx{
	width:100%;
	height:202px;
	border:1px solid lightgray;
	overflow:hidden;
}
.timee{
	width:100%;
	height:50px;
}
.timee span:nth-child(3){
	margin-left:10px;
	font-size:18px;
}
.timee span:nth-child(1){
	margin-left:20px;
	
}
.timee span{
	display:block;
	float:left;
	font-size:18px;
	margin-top:13px;
}
.frient-lists{
	padding-top:30px;
	padding-bottom:30px;
	width:80%;
	height:140px;
	border:0;
	overflow:hidden;
	margin:0 auto;
	
}

.frient-lists img{
	float:left;
}
.frient-lists .gsname{
	float:left;
	width:678px;
	height:50%;
	margin-left:18px;
	margin-right:23px;
	/*padding-top:50px;*/
	padding-bottom:16px;
	font-size:30px;
}
.show-1{
	float:left;
	width:34%;
}
.show-2{
	float:right;
	width:34%;
}
.change{
	color: orange;
}
.gsname span{
	font-size:16px;
}
.frient-lists .right-pic{
	float:left;
	width:200px;
	height:100%;
	/*border:1px solid gray;*/
}


/******************/
.gs-div-top{

	width:100%;
	height:182px;

	/*border-bottom:1px solid darkred;*/
}
/*上面部分*/
.gs-div-top ul li{
	margin-top:20px;
	overflow:hidden;
}
/*左边*/
.gs-ul-left{
	
	float:left;
	width:40%;
	height:100%;
	margin-left:115px;
	font-size:20px;
}
.gs-ul-left li .sp{
	width:270px;
	height:40px;
	float:right;
	font-size:18px;
	outline: none;
	/*text-align:center;*/
}

/*右边*/
.gs-ul-right{
	position:relative;
	float:right;
	width:40%;
	height:100%;
	margin-right:50px;
	font-size:20px;
}
.gs-ul-right li img{
	position:absolute;
	top:66px;
	right:90px;
}
.gs-ul-right li .sp{
	width:270px;
	height:40px;
	float:right;
	font-size:18px;
	/*text-align:center;*/
	outline: none;
}
.p{
	width:100%;
	height:30px;
	text-align:center;
	font-size:20px;
	margin-top:20px;
	margin-bottom:20px;
}
.dj-div1{
	width:100%;
	height:120px;
	/*border:1px solid gray;*/
}
.dj-div1 p{
	font-size:20px;
	width:90%;
	margin-left:2%;
	margin-top:20px;
	margin-bottom:30px;
}
.dj-div1 div span{
	float:left;
	margin-left:20px;
	color:darkgray;
}

.tousu-div{
	width:50%;
	margin:0 auto;
	height:100px;
	margin-top:50px;
	font-size:20px;
	/*border:1px solid gray;*/
}
.tousu-div a:nth-child(1){
	float:left;
	display:block;
	width:100px;
	height:25px;
	line-height:25px;
	text-align:center;
	color:white;
	background: rgb(58,158,255);
	padding:10px 60px 10px 60px;
}
.tousu-div a:nth-child(2){
	float:right;
	display:block;
	width:100px;
	height:25px;
	line-height:25px;
	text-align:center;
	color:white;
	padding:10px 60px 10px 60px;
	background: rgb(209,28,22);
}

.dj-div2{
	position:relative;
	width:100%;
	height:30px;
}
.gys-2-a{
	font-size:20px;
	display:block;
	text-align:center;
	text-decoration:underline ;
	color:rgb(58,158,255);
}
.gys-box{
	position:absolute;
	top:-500px;
	left:350px;
	width:380px;
	height:380px;
	background:white;
	display:none;
	border:1px solid gray;
}
.gys-box p{
	width:100%;
	height:60px;
	text-align:center;
	line-height:60px;
	font-size:22px;
	border-bottom:1px solid gray;
}
/*底部内容*/

#footer{
	position:relative;
	width:100%;
	height:300px;
	background:rgb(102,102,102);
}
.footr{
	width:800px;
	height:110px;
	margin:0 auto;
}
.footr img{
	float:left;
}
.footr-ul{
	float:left;
}
.footr-ul li{
	float:left;
	padding:0px 10px;
	margin-top:56px;
}
.footr-ul li a{
	color:darkgray;
}
.hotphone{
	float:right;
	width:210px;
	height:58px;
	padding-left:62px;
	line-height: 65px;
	
	background:url(../../img/footrdianhua.png)no-repeat left;
	color:darkgray;
	margin-top:36px;
}
.foot{
	width:100%;
	height:160px;
	background:rgb(102,102,102);
}
.foot p{
	margin:0 auto;
	text-align:center;
	color:white;
	font-size:16px;
	margin-bottom:6px;
}
.foot p:nth-child(1){
	margin-top:45px;
}
.yingcan{
	position:absolute;
	top:-394px;
	left:800px;
	width:380px;
	height:380px;
	/*border:2px solid rgba(0,0,0,.5);*/
	background: white;
	display:none;
	z-index: 100;
}
.yingcan #textArea{
	width:380px;
	height:328px;

}
.yingcan div{
	position:relative;
	width:100%;
	height:52px;
	/*border-bottom:1px solid gray;*/
}
.yingcan div img{
	position:absolute;
	top:4px;
	right:10px;
}
.yingcan div p{
	display:block;
	width:40%;
	height:32px;
	padding-top:20px;
	margin-left:34%;
	text-align:center;
	/*border:1px solid gray;*/
	background:url(../../img/shuoming.png)no-repeat;
	background-position:0 10px;
}

